<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cbb.myapplication">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <!-- 测试的音量权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <!-- 百度地图权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="o9U5NBUPzUGuouHBjW0YGYnfR4WeIFOk"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ElasticActivity">
        </activity>
        <activity android:name=".HeartLayoutActivity">
        </activity>
        <activity android:name=".SignNameActivity">
        </activity>
        <activity android:name=".LoadToastActivity">
        </activity>
        <activity android:name=".WriteTextActivity">
        </activity>
        <activity android:name=".PercentageBarActivity">
        </activity>
        <activity android:name=".QrCodeScan.CaptureActivity">
        </activity>
        <activity android:name=".share.ShareActivity">
        </activity>
        <activity
            android:name=".SideMenuActivity"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity android:name=".TimelyAnimationActivity">
        </activity>
        <activity android:name=".DotProgressActivity">
        </activity>
        <activity android:name=".FilterMenuActivity">
        </activity>
        <activity android:name=".LoadingActivity">
        </activity>
        <activity android:name=".DragGridViewActivity">
        </activity>
        <activity android:name=".user.SimpleActivity"/>
        <activity android:name=".DialogDemoActivity"/>
        <activity android:name=".ViewDemoActivity"/>
        <activity android:name=".BDActivity">
        </activity>
        <activity android:name=".taiji.TaijiActivity">
        </activity>
        <activity android:name=".taiji.EasyCircleActivity">
        </activity>
        <activity android:name=".EasyRecyclerViewActivity">
        </activity>
        <activity android:name=".permission.PermissionsStartActivity">
        </activity>
        <activity android:name=".permission.PermissionsActivity">
        </activity>
        <activity android:name=".cobwebs.CobwebsActivity">
        </activity>
        <activity android:name=".QQ_listview.QQListActivity">
        </activity>
        <activity android:name=".circle_menu.CircleMenuActivity">
        </activity>
    </application>

</manifest>